<div style="text-align: center;">
  <h1>Routing and Navigation</h1>
</div>

<nav>
  <a routerLink="/department" routerLinkActive="active">Department</a>
  <a routerLink="/employee" routerLinkActive="active">Employee</a>
</nav>

<router-outlet></router-outlet>
<!-- Routing view display Here..-->