<h3>
        Department List
      </h3>
      <ul class="items">
        <li *ngFor="let department of departments" [class.selected]="isSelected(department)" (click)="onSelect(department)">
          <span class="badge">{{department.id}}</span> {{department.name}}
        </li>
    </ul>
